.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  padding: 0 12px;
  color: $neutral-300;
  font-weight: 600;
}

.breadcrumb-item {
  display: flex;
  font-weight: 900;
}

.breadcrumb-link {
  color: $neutral-600;
}

@media (max-width: 767px) {
  .breadcrumb-item + .breadcrumb-item::before {
    padding: 0 8px;
  }
  .breadcrumb-item {
    font-style: 14px;
  }
}
