.btn {
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
@media (max-width: 576px) {
  .btn {
    padding: 8px 16px;
  }
}

.btn-dark.btn-dark {
  background-color: $neutral-900;
  color: $neutral-0;
}

button .btn-light {
  border-color: $neutral-900;
}

.btn-border-neutral900 {
  border: 1px solid $neutral-900;
}
