.header {
  background-image: url("/assets/images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 289px 200px 288px 200px;

  @media (max-width: 767px) {
    background-image: url("/assets/images/banner-sm.png");
    padding: 155px 24px 155px 24px;
  }
}

.category .active {
  color: $primary-400;
}

.page-item .btn {
  padding: 8px 15px;
  border-radius: 0;
  font-weight: 400;
}

.page-item .active {
  background-color: $primary-300;
  font-weight: 500;
}

.hotsale-container {
  display: flex;
  flex-wrap: nowrap;
}

.hotsale-card.hotsale-card {
  position: relative;

  .tag {
    position: absolute;
    display: block;
    top: 0;
    left: 12;
    padding: 8px 12px;
  }
}

@media (max-width: 767px) {
  .hotsale-container-md {
    margin-left: -8px;
    margin-right: -8px;
  }
  .hotsale-card-md {
    min-width: 316px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.index-mid-banner {
  text-align: center;
  // position: absolute;
  background-image: url("/assets/images/banner-co-branded.png"); //尺寸、位置、重複
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
  position: relative;
  .star-img {
    position: absolute;
    width: 48px;
    top: 68px;
    left: calc(50% - 397px); // 397= 634/2+32+(48/2)
  }
  .sparkle-img {
    position: absolute;
    width: 76px;
    height: 64px;
    bottom: 132px;
    right: calc(50% - 357px);
  }
}

@media (max-width: 767px) {
  .index-mid-banner {
    background-image: url("/assets/images/banner-co-branded-sm.png");
  }
  .star-img.star-img {
    top: 32px;
    left: -20px;
  }
  .sparkle-img.sparkle-img {
    bottom: 104px;
    right: -28px;
  }
}

.index-category-container {
  position: relative;

  .category-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(black, 0.4);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.index-inspiration {
  &-row {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
  }
  &-col-4 {
    width: calc(100% / 12 * 4);
    padding: 4px;
  }
  &-col-6 {
    width: calc(100% / 12 * 6);
    padding: 4px;
  }
  &-col-12 {
    width: 100%;
    padding: 4px;
  }
}

@media (max-width: 767px) {
  .index-inspiration-row {
    flex-wrap: nowrap;
    margin: 0 -8px;
    img {
      min-width: 300px;
    }
  }
  .index-inspiration-col-4,
  .index-inspiration-col-6,
  .index-inspiration-col-12 {
    width: unset;
    padding: 0 8px;
  }
}
